torch==2.7.1
torchvision==0.22.1
kornia==0.8.1
cupy-cuda12x>=13.4.0  # Use cupy-cuda11x for CUDA 11.x
h5py==3.14.0
opencv-python==4.11.0.86
dill==0.4.0
moviepy==2.2.1
matplotlib==3.10.3
tensorboard==2.19.0
tqdm==4.67.1
ffmpeg-python==0.2.0
imageio==2.37.0
